@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

body{
  background-image: url('./images/bg.jpg');
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px
}

.logo{
  background-image: url('http://i.imgur.com/PuWDtwZ.gif');
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: cover; */
  height: 200px;
  /* font-size: 60px;
  font-weight: bold; */
}

